{{template "header" .}}
<div class ="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Contact page</h1>
  <p class="text-grey-800">
    To get in touch, email me at<a href="mailto:abc@gmail.com">abc@gmail.com</a>
</p>
</div>
{{template "footer" .}}
